@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>

<img src="~/img/queryBack.jpg" class="img-responsive" />

<h2 style="text-align:center">Made with</h2>



<div class="row">
    <hr />

    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <img src="~/img/netMVC2.png" class="img-responsive container-fluid " />
        <p>.NET is a developer platform made up of tools, programming languages, and libraries for building many different types of applications.</p>
        <p><a class="btn btn-default" href="https://dotnet.microsoft.com/apps/aspnet">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Visual Studio 2019</h2>
        <img src="~/img/vs20192.png" class="img-responsive container-fluid" />
        <p>Is an integrated development environment (IDE) from Microsoft. It is used to develop computer programs, as well as websites, and mobile apps.</p>
        <p><a class="btn btn-default" href="https://visualstudio.microsoft.com">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Entity Framework</h2>
        <img src="~/img/entityF2.png" class="img-responsive container-fluid" />
        <p>The Entity Framework is a set of technologies in ADO.NET that support the development of data-oriented software applications.</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/overview">Learn more &raquo;</a></p>
    </div>

</div>

<hr />


<!-- Team Section -->
<div class="row" style="padding-top:50px">

    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        <div class="w3-card w3-center" style="width:400px">
            <img src="~/img/kevLogo.png" alt="" style="width:100%">
            <div class="w3-container">
                <h3>Kevin Briceño</h3>
                <p class="w3-opacity">Programmer & Designer</p>
                <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Contact</button></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">

    </div>

</div>





