
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Raleway", sans-serif
    }

    body, html {
        height: 100%;
        line-height: 1.8;
    }

    /* Full height image header */
    .bgimg-1 {
        background-position: center;
        background-size: cover;
        background-image: url("/img/mainBack.jpg");
        min-height: 100%;
        width: 100%
    }

    .w3-bar .w3-button {
        padding: 16px;
    }


    .mySlides {
        display: none
    }

    .w3-tag, .fa {
        cursor: pointer
    }

    .w3-tag {
        height: 15px;
        width: 15px;
        padding: 0;
        margin-top: 6px
    }
</style>




<h1>wwwd</h1>


<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <img src="~/img/mainBack.jpg" class="bgimg-1 w3-display-container" style="height:50%" />
    <div class="w3-display-left w3-text-white" style="padding:48px">
        <span class="w3-jumbo w3-hide-small">SGL Database</span><br>
        <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br>
        <span class="w3-large">Welcome to your complete database.</span>
        <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Start Working</a></p>
    </div>
    <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
    </div>
</header>



<!-- Modal -->
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <header class="w3-container w3-teal w3-display-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
            <h4>Oh snap! We just showed you a modal..</h4>
            <h5>Because we can <i class="fa fa-smile-o"></i></h5>
        </header>
        <div class="w3-container">
            <p>Cool huh? Ok, enough teasing around..</p>
            <p>Go to our <a class="w3-text-teal" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
        </div>
        <footer class="w3-container w3-teal">
            <p>Modal footer</p>
        </footer>
    </div>
</div>





<!-- Container -->
<div class="w3-row-padding w3-center w3-margin-top" style="padding-bottom:50px;padding-top:40px">
    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:410px">
            <h3>Total Control</h3><br>


            <img src="~/img/control.png" class="w3-center w3-margin-bottom" />


            <p>Built-in responsiveness</p>
            <p>Mobile first fluid grid</p>
            <p>Fits any screen sizes</p>
            <p>PC Tablet and Mobile</p>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:410px">
            <h3>All your clients</h3><br>

            <img src="~/img/clients.png" class="w3-center w3-margin-bottom" />

            <p>Standard CSS only</p>
            <p>Easy to learn</p>
            <p>No need for jQuery</p>
            <p>No JavaScript library</p>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:410px">
            <h3>Work fast</h3><br>

            <img src="~/img/fast.png" class="w3-center w3-margin-bottom" />

            <p>Paper like design</p>
            <p>Bold colors and shadows</p>
            <p>Equal across platforms</p>
            <p>Equal across devices</p>
        </div>
    </div>
</div>







<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-theme-l1 w3-padding-64">
    <div class="w3-quarter">
        <span class="w3-xxlarge">20+</span>
        <br>Partners
    </div>
    <div class="w3-quarter">
        <span class="w3-xxlarge">55+</span>
        <br>Projects Done
    </div>
    <div class="w3-quarter">
        <span class="w3-xxlarge">40+</span>
        <br>Happy Clients
    </div>
    <div class="w3-quarter">
        <span class="w3-xxlarge">30+</span>
        <br>Events
    </div>
</div>












<!-- Team Container -->
<div class="w3-container w3-padding-64 w3-center" id="team">
    <h2>Our Leaders</h2>
    <p>Meet the team</p>

    <div class="w3-row">
        <br>

        <div class="w3-third">
            <img src="~/img/staff1.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Enrique Nash</h3>
            <p>Web Designer</p>
        </div>

        <div class="w3-third">
            <img src="~/img/staff2.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Conan Macias</h3>
            <p>Programmer</p>
        </div>

        <div class="w3-third">
            <img src="~/img/staff3.png" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
            <h3>Evelyn Hoover</h3>
            <p>CEO</p>
        </div>

    </div>
</div>









<!-- Work Row -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work" style="margin-bottom:2%">

    <div class="w3-quarter">
        <h2>Our Principles</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="w3-quarter">
        <div class="w3-card w3-white">
            <img src="~/img/about1.jpg" alt="Snow" style="width:100%">
            <div class="w3-container">
                <h3>Technology</h3>
                <h4>Trade</h4>
                <p>Blablabla</p>

            </div>
        </div>
    </div>

    <div class="w3-quarter">
        <div class="w3-card w3-white">
            <img src="~/img/about2.jpg" alt="Lights" style="width:100%">
            <div class="w3-container">
                <h3>Innovation</h3>
                <h4>Trade</h4>
                <p>Blablabla</p>

            </div>
        </div>
    </div>

    <div class="w3-quarter">
        <div class="w3-card w3-white">
            <img src="~/img/about3.jpg" alt="Mountains" style="width:100%">
            <div class="w3-container">
                <h3>Computing</h3>
                <h4>Trade</h4>
                <p>Blablabla</p>

            </div>
        </div>
    </div>

</div>


<div class="w3-container w3-center" id="team" style="margin-top:2%; padding-top:2%">
    <h2>Our Signature</h2>


    <!-- Slideshow -->
    <div class="w3-container" style="margin-top:50px">
        <div class="w3-display-container mySlides">
            <img src="~/img/slide1.jpg" style="width:100%">
            <div class="w3-display-topleft w3-container w3-padding-32">
                <span class="w3-white w3-padding-large w3-animate-bottom">Fast Software</span>
            </div>
        </div>
        <div class="w3-display-container mySlides">
            <img src="~/img/slide2.jpg" style="width:100%">
            <div class="w3-display-middle w3-container w3-padding-32">
                <span class="w3-white w3-padding-large w3-animate-bottom">Complex Hardware</span>
            </div>
        </div>
        <div class="w3-display-container mySlides">
            <img src="~/img/slide3.jpg" style="width:100%">
            <div class="w3-display-topright w3-container w3-padding-32">
                <span class="w3-white w3-padding-large w3-animate-bottom">Clean Energy</span>
            </div>
        </div>

        <!-- Slideshow next/previous buttons -->
        <div class="w3-container w3-dark-grey w3-padding w3-xlarge">
            <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
            <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>

            <div class="w3-center">
                <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-tag demodots w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
            </div>
        </div>
    </div>
</div>























    <!-- Image of location/map
    <img src="https://images.unsplash.com/photo-1566410824233-a8011929225c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" class="w3-image w3-greyscale-min" style="width:100%;">
    -->



    <script>
        // Script for side navigation
        function w3_open() {
            var x = document.getElementById("mySidebar");
            x.style.width = "300px";
            x.style.paddingTop = "10%";
            x.style.display = "block";
        }

        // Close side navigation
        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }




        // Slideshows
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
          showDivs(slideIndex += n);
        }

        function currentDiv(n) {
          showDivs(slideIndex = n);
        }

        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("demodots");
          if (n > x.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = x.length} ;
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
          }
          x[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " w3-white";
        }



    </script>



